body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #424242;
}
body::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: #868686;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #0a0505;
  margin-top: 3px;
}
* {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #171616;
}
#videolist {
  width: 530px;
  min-height: 200px;
  height: auto;
}
.markup-item {
  background-color: #272727;
  margin-bottom: 8px;
  border-radius: 8px;
}
.markup-item .video-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.video-title {
  flex-basis: 65%;
  font-size: 14px;
}
.video-thumbnail {
  width: 120px;
}

.markup-count {
  padding: 5px 8px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #424242;
}

.tab-menu {
  display: flex;
  align-items: center;
  padding: 0 !important;
  margin: 10px 0 20px !important;
}

.tab-menu .selected {
  border-color: #fff;
  opacity: 1;
}

.tab-menu li {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 10px;
  margin: 0 30px;
  color: #fff;
  font-size: 18px;
  transition: 200ms all ease;
  cursor: pointer;
  opacity: 0.6;
  border-bottom: 3px solid transparent;
}
